html, body {
   background-color: beige; 
}

.container{
   width: 90%;
   height: auto;
   margin: 0px auto;
   border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 600px;
}

header{
   display: flex;
   flex-direction: row;
}
header h1{
   color: rgb(16, 16, 151);
   text-transform: uppercase;
}

